@charset "UTF-8";

/* 관리자페이지 공통 CSS */
#btnCtr { 
	/* 버튼 가운데 정렬 */
	text-align: center;
}

#admWriteBtnRgt, #searchRgt { /* 글 등록 버튼 */
	text-align: right; /* 오른쪽 정렬 */
	margin-right: 25px; /* 오른쪽 여백 줘서 안쪽으로 배치 */
}

#dfCtr tr td { /* 기본페이지(팝업창 X) 표 */
	text-align: center; /* 내용 가운데 정렬 */
}

#popUpCtr { /* 팝업창으로 만들 때 가운데 정렬해야할 영역 */
	margin: 0 auto; /* 가운데 정렬 */
}

#popUpCtr tr td { /* 팝업창 표 */
	text-align: center; /* 내용 가운데 정렬 */
}


#tblCtr { /* 테이블 영역 전체 */
	text-align: center; /* 내용 가운데 정렬 */
}

#grayBlock { /* 정보 표시할 회색 블럭 */
	background-color: #ccc; /* 배경색 회색 */
	width: 300px; /* 너비 */
	height: 100px; /* 높이 */
	border: none; /* 테두리 없애기 */ 
	border-radius: 10px; /* 모서리 둥글게 */
	display: inline-block; /* 한 줄에 배치 */
	margin-bottom: 10px; /* 여백 */
	
}

#grayBlock>input[type="text"] { /* 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 250px; /* 너비 */
}

/* ============================================================= */

/* admin_board_fap.jsp 파일 CSS */
#contentBlock { /* 상단 질문유형 링크 블럭 영역 */
	margin: 30px 0; /* 상하단 여백 */ 
	text-align: center; /* 가운데 정렬 */
}

#contentBlock>a { /* 링크 블럭 영역 내 a 태그 */
	margin: 0; /* 여백 */
	padding: 20px 40px; /* 안쪽 여백 만들어 크기 키우기*/
	text-align: center; /* 글자 가운데 정렬 */
	text-decoration: none; /* 밑줄 없애기 */
 	background-color: #fff4f4; /* 배경색 */
	border: 2px solid #190000; /* 테두리 */
}


/* admin_member.jsp 파일 CSS */
#searchArea { /* 조회 버튼 영역 */
	text-align: right; /* 오른쪽 정렬 */
}
	

/* admin_movie_schedule.jsp 파일 CSS */
#lbl { /* label 태그 영역 */
	background-color: #ccc; /* 배경색 회색 */
	border-radius: 3px; /* 모서리 둥글게 */
	font-size: 12px; /* 글자 크기 줄이기 */
	padding: 3px; /* 안쪽 여백 채우기 */
}

/* admin_movie_update.jsp 파일 CSS */
#grayBlock>input[type="date"] { /* 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 250px; /* 너비 */
}

#grayBlockWide { /* 정보 표시할 넓은 회색 블럭*/
	background-color: #ccc; /* 배경색 회색 */
	width: 700px; /* 너비 */
	height: 100px; /* 높이 */
	border: none; /* 테두리 없애기 */ 
	border-radius: 10px; /* 모서리 둥글게 */
	margin-bottom: 10px; /* 여백 */
	display: inline-block; /* 가운데 정렬을 위함 */
	
}

#grayBlockWide>input[type="text"] { /* 넓은 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 650px; /* 너비 */
}

#divCtr { /* 가운데 정렬해야할 div 태그 영역 */
	text-align: center; /* 가운데 정렬 */
}
