@charset "UTF-8";

/* ============= 전체 게시판에 적용할 css ============== */

#admin_nav { /* 내비게이션바에 */
	display: inline-block;
	top: 170px;
	width: 160px;
	margin: 10px;
	vertical-align: top;
}

#admin_main {
	vertical-align: top;
	display: inline-block;
	width: 800px; /* 너비 800지정 */
	margin: 10px;	
}

form {
	margin-bottom: 20px;
}

a {
	color: #000;
	text-decoration: none;
}

#admin_main th, #admin_main td {
	height: 30px;
}

/* ============ 네비바에 적용할 css ============= */
#menubar p>a {
	text-decoration: none; /* 밑줄 없애기 */	
	color: gray; /* 글씨 색깔 변경 */	
	font-size: 20px;
}

#menubar a { /* 하이퍼링크에 */
	text-decoration: none; /* 밑줄 없애기 */	
	color: #000000; /* 글씨 색깔 변경 */
}

#menubar { /* 메뉴바 전체에 */
	text-align: center; /* 가운데정렬 */
	width: 160px; /* 넓이지정 */
	height: 700px; /* 높이지정 */
 	border-radius: 3px; /* 모서리 둥글게 */
 	background-color: #ffffff; /* 배경색 */
	border: 2px solid #6c6c6c; /* 테두리 */
	margin-bottom: 40px;
} 

#menubar p { /* 메뉴바 제목에 */
	font-size: 18px; /* 글자크기 */
	font-weight: bold; /* 글자두껍게 */
	padding: 15px 0;  /* 안쪽여백 */
	margin: 0;
}

#menubar ul { /* 순서없는 목록 전체에 */
	text-align: center; /* 가운데정렬 */
	list-style: none; /* 앞 표시 없애기 */
	font-size: 16px; /* 글자크기 */
	padding-left: 5px; /* 왼쪽여백 */
	margin: 0; /* 바깥여백 없애기 */
}

#menubar li input[type="button"] { /* 순서없는 목록 각 줄에 */
	width: 135px;
	height: 35px;
	margin: 7px;
	background-color:#505050;
	color: white;
	font-weight: bold;
}

#menubar li input[type="button"]:hover { /* 순서없는 목록 각 줄에 마우스 올리면 */
	color: black;
	background-color: #bebebe; /* 배경색 회색 */
}


/* ======== 전체 영역 테이블에 적용할 css ======== */

table {
	border-collapse: collapse; /* 칸 사이 간격 없애기 */
	border: 2px solid #6c6c6c; /* 표 줄 */ 
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

th {
	background-color: #dfdfdf;
	border-bottom: 2px solid #6c6c6c; /* 제목하단줄 */	
}

.post_name {
	text-align: left;
}

/* ======== 전체 영역 입력상자에 적용할 css ======== */
input[type="date"], input[type="text"], select {
	height: 25px;
}

/* ============= 전체 버튼에 적용할 css ================== */
input[type="button"], input[type="submit"] { /* 모든 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #505050; /* 배경색 빨간색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
}

input[type="button"]:hover, input[type="submit"]:hover {  /* 모든 버튼에 마우스오버 시 */
	background-color: #bebebe;
}

#admin_member{
	color: black;
	background-color: #FFCCCC; /* 회원일때 색깔 */
}
#admin_Bmember{
	color: black;
	background-color: #E0E0E0; /* 비회원일때 색깔 */
}
#admin_Cmember{
	color: black;
	background-color: #CCCCFF; /* 탈퇴 일때 색깔 */
}


#movie_update, #schedule_serch, #pay_Search, #member_Search {
	text-align: right;
	margin-bottom: 20px;
}

#admin_writer {
	text-align: right;
	margin-top: 20px;
}

/* ============ 전체 페이지번호에 적용할 css ============ */

/* Pagination links */
.pagination {
	padding:20px 0 100px 250px;
	text-align: center;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #505050;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}


/* =============== 상영일정관리 ==================== */
.schedule {
	margin-bottom: 100px;
}

/* =============== 자주묻는질문 ==================== */

#fqa_button {
	position: relative;
}


#fqa_button ul {
	text-align: center;
	margin: 0;
}

#fqa_button {
	text-align: center;
}

#fqa_button li {
	display: inline-block;
	height: 50px;
	text-align: center;
	line-height: 30px;
	margin: 10px;
}

#fqa_button input {
	border: none;
	border-bottom: 3px solid #e50914;
	color: #000000; /* 글자 색상 */
	padding: 10px 40px; /* 영역의 상하 좌우 크기 */
/* 	margin-top: 10px; */
	background-color: #ffffff;
	cursor: pointer; /* 커서 변경 */
}

#fqa_button input:hover {
	background-color: #eeeeee;
	border-bottom: 3px solid #000000;
}
