@charset "UTF-8";


html {
	height: 100%;
}

body {
	height: 100%;
}


header {
	position: fixed;
	left: 0; top: 0;
	width: 100%;
	z-index:1;
}

#wrapper {
	min-height: 100%;
	position: relative;
	width: 100%
}


/* ======== 전체 영역에 적용할 css ======== */

#content {
	padding: 100px 0;
	width: 1024px;
	margin: 100px auto;	
}

h1 { /* 제목영역 */
	margin-top: 20px; /* 위 띄우기 */
	margin-bottom: 20px; /* 아래 띄우기 */
	text-align: center; /* 가운데정렬 */
	position: relative; /* 포지션 기준 잡기 */
}

/* a { 하이퍼링크에 */
/* 	text-decoration: none; 밑줄 없애기	 */
/* 	color: #292929; 글씨 색깔 변경 */
/* } */

nav { /* 내비게이션바에 */
	position: absolute; /* 상대위치지정 */
	left: 10%; /* 제목에서부터 왼쪽 10% */
}

form { /* 폼태그에 */
	position: absolute; /* 상대위치지정 */
	left: 25%; /* 제목에서부터 왼쪽 25% */
	width: 800px; /* 너비 800지정 */
}

textarea { /* 텍스트박스 */
	resize: none; /* 크기고정 */
	width: 650px; /* 너비지정 */
	height: 300px; /* 높이지정 */
	border: 1.5px solid #AFAFB2; /* 테두리 */
	margin: 5px;
}

hr { /* 위아래선 */
	border: 1px solid #9d9d9d; /* 1.5px 회색 */
	margin: 10px -5px; /* 위아래 띄우고 양옆 줄임 */
}

input[type="button"], input[type="submit"] { /* 모든 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #e50914; /* 배경색 빨간색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
}

input[type="button"]:hover, input[type="submit"]:hover {  /* 모든 버튼에 마우스오버 시 */
	background-color: #ce0912;
}

/* ======== 전체 영역 테이블에 적용할 css ======== */

table {
	border-collapse: collapse; /* 칸 사이 간격 없애기 */
	border-top: 2px solid #9d9d9d; /* 표상단줄 */
	border-bottom: 2px solid #9d9d9d; /* 표하단줄 */ 
	width: 800px;
	margin: 0 auto;
}

th {
	border-bottom: 2px solid #9d9d9d; /* 제목하단줄 */	
}

#cs_table1 tr:nth-child(odd) { /* 홀수줄에만 */
	background-color: #eeeeee; /* 배경색 넣기 */
}

#cs_table1 th { /* 자주묻는질문, 공지사항 테이블 제목에 */
	color: #000000;
	background-color: #f2f2f2; /* 제목 배경색 지정 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
}

#cs_table1 td { /* 자주묻는질문, 공지사항 테이블 내용에 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
	border: none;
}

#cs_table2 th { /* 분실물문의, 1대1질문 테이블 제목에 */
	background-color: #f2f2f2; /* 제목 배경색 지정 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
	border-bottom: 1px solid #9d9d9d;
	text-align: center;
}

#cs_table2 td { /* 분실물문의, 1대1질문 테이블에 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
	border-bottom: 1px solid #9d9d9d;
/* 	width: 36%; */
}

#cs_table2  b { /* 제목 옆 필수항목 *표시 */
	color: #ff0000; /* 글자 빨간색 */
}


/* ======== 메뉴바 영역에 적용할 css ======== */

#menubar>p>a {
	text-decoration: none; /* 밑줄 없애기 */	
	color: #ffffff; /* 글씨 색깔 변경 */	
}

#menubar a { /* 하이퍼링크에 */
	text-decoration: none; /* 밑줄 없애기 */	
	color: #000000; /* 글씨 색깔 변경 */
}

#menubar { /* 메뉴바 전체에 */
	text-align: center; /* 가운데정렬 */
	width: 160px; /* 넓이지정 */
	height: 340px; /* 높이지정 */
 	border-radius: 3px; /* 모서리 둥글게 */
 	background-color: #ffffff; /* 배경색 */
	border: 2px solid #9d9d9d; /* 테두리 */
} 

#menubar p { /* 메뉴바 제목에 */
	font-size: 23px; /* 글자크기 */
	font-weight: bold; /* 글자두껍게 */
	padding: 25px 0;  /* 안쪽여백 */
	background-color: #e50914; /* 배경색 빨강 */
	margin: 0;
}

#menubar ul { /* 순서없는 목록 전체에 */
	text-align: center; /* 가운데정렬 */
	list-style: none; /* 앞 표시 없애기 */
	font-size: 16px; /* 글자크기 */
	padding-left: 5px; /* 왼쪽여백 */
	margin: 0; /* 바깥여백 없애기 */
}

#menubar li { /* 순서없는 목록 각 줄에 */
	padding: 15px 15px; /* 안쪽여백 */
	width: 130px; /* 너비지정 */
	font-weight: bold; /* 글자 두껍게 */
	position: relative;
	left: -5px; top: 2px;
	margin: 0px;
}

#menubar li:hover { /* 순서없는 목록 각 줄에 마우스 올리면 */
	background-color: #eeeeee; /* 배경색 회색 */
}

/* ======== 고객센터 메인과 자주묻는 질문, 공지사항에 적용할 css ======== */

#main_shortcuts { /* 바로가기 영역 */
	margin: 30px 0; /* 상하단 여백 */
	text-align: center; /* 가운데정렬 */
}

#main_shortcuts>a { /* 바로가기 a태그 */
	display: inline-block; /* 나란히 배치하기 위해 변경 */
	margin: 10px; /* 바깥여백주기 */
	border: 1px solid #9d9d9d;
	color: #000000;
	text-decoration: none;
}

#main_faq { /* 자주묻는질문 미리보기 */
	margin-top: 20px; /* 상단여백 */
	float: left; /* 왼쪽에 배치 */
	width: 46%; /* 45%차지 */
	padding: 10px;
	border: 1px solid #9d9d9d;
	position: relative;	
}

#main_notice { /* 공지사항 미리보기 */
	margin-top: 20px; /* 상단여백 */
	float: right; /* 오른쪽에 배치 */
	width: 46%; /* 45%차지 */
	padding: 10px;
	border: 1px solid #9d9d9d;
	position: relative;	
}

#main_faq a, #main_notice a {
	color: #000000;
	text-decoration: none;
}

#main_faq>h3, #main_notice>h3 { /* 미리보기 제목 */
	display: inline-block; /* 더보기 버튼과 나란히 배치하기 위해 속성변경 */
/* 	margin-left: 30px; */
	font-size: 20px;
	margin: 10px 0 0 10px;
}

#main_faq>a { /* 더보기 버튼 */
/* 	text-align: right; 오른쪽에 배치 */
	position: absolute;
	right: 5%; top: 10%;
}

#main_notice>a { /* 더보기 버튼 */
/* 	text-align: right; 오른쪽에 배치 */
	position: absolute;
	right: 5%; top: 10%;
}

#main_faq li, #main_notice li {
	margin: 10px 0;
}

#search { /* 빠른검색 */
	text-align: center; /* 가운데정렬 */
	background-color: #ffffff; /* 배경색 */
	padding: 10px 0; /* 안쪽상하단 여백 */
	border-radius: 3px; /* 모서리 둥글게 */
 	background-color: #eeeeee; /* 배경색 */
	border: none; /* 테두리 없애기 */
}

input[type="search"] {
	border: none; /* 테두리 없애기 */
	margin: 10px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 350px; /* 넓이지정 */
}

#search>select { /* 검색창 셀렉트박스에 */
	border: none; /* 테두리 없애기 */
	margin: 10px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 150px; /* 넓이지정 */
}

#fqa_button { /* 분류 버튼 영역 */
	text-align: center;	/* 가운데정렬 */
	margin: 10px;
}

#fqa_button>input { /* 분류 버튼 개별로 */
	margin: 20px 10px 0;  /* 위20 좌우10 아래0 px */
	padding: 10px; /* 안쪽여백 지정 */
	width: 90px; /* 너비지정 */
}


#pageNum { /* 페이지번호 전체 영역 */
	 text-align: center; /* 가운데정렬 */
	 margin: 5px auto; /* 여백 */
}

#pageNum>input[type="button"] { /* 공지사항과 자주묻는 페이지번호 */
	 width: 20px; /* 버튼 너비 지정 */
	 padding: 5px 0;
}

#pageNum>a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	margin: 5px 8px;
}


/* ======== 1 : 1 문의와 분실물 문의에 적용할 css ======== */

p { /* 1대1문의, 분실물문의 최상단 안내문 */
	font-size: 15px; /* 글자크기 지정 */
	margin-top: 0;
}

#agree_msg { /* 동의문 영역의 */
	padding: 10px; /* 안쪽여백지정 */
	border-radius: 3px; /* 모서리 둥글게 */
 	background-color: #ffffff; /* 배경색 */
	border: 2px solid #9d9d9d; /* 테두리 */
}

.warning { /* 주의사항 영역 */
	float: right; /* 오른쪽 정렬 */
	color: #ff0000; /* 빨간색 */
	font-size: 13px; /* 글자작게 */
}

#input_table { /* 문의 입력창 테이블 전체 */
	margin-top: 20px; /* 상단여백 */
	border: 0; /* 테두리 없음 */
}

#id { /* 아이디 입력창에 */
	border: none; /* 테두리 없애기 */
	border-bottom: 1.5px solid #9d9d9d; /* 밑줄 */
	margin: 10px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 250px; /* 넓이지정 */
}

#title, #file { /* 제목, 파일등록창에 */
	border: none; /* 테두리 없애기 */
	border-bottom: 1.5px solid #9d9d9d; /* 밑줄 */
	margin: 10px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 550px; /* 넓이지정 */
}

select, input[type="datetime-local"] { /* 셀렉트박스와 날짜선택창에 */
	border: none; /* 테두리 없애기 */
	border-bottom: 1.5px solid #9d9d9d; /* 밑줄 */
	margin: 10px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 250px; /* 넓이지정 */
}	

#cs_button { /* 모든 버튼 */
	margin: 30px; /* 주변 띄우고 */
	text-align: center; /* 가운데정렬 */
}

/* ------------------------------------------------------------- */

footer {
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
	padding-top: 10px;
}
