@charset "EUC-KR";

h1{
	text-align: left;
}

.div_center{
	text-align: center;
}

.log_area {
	width: 365px;
	margin: 0 auto;
}

.log_area>h5{
	text-align: left;
	margin-bottom: -1px;
	margin-top: -1px;
}