@charset "UTF-8";

button { /* 좌석예매 버튼 */
    padding: 5px 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 3px; /* 모서리 곡률 */
    cursor: pointer;
}

button:hover { /* 버튼 가까이 갔을때 어둡 */
    background-color: #c70711;
}


#reserve_parameter,.print_parameter{ /*화면 가운데로 정렬 하는 코드*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
}

#reserve_parameter>div{ /* 데이터 입력받는 버튼 크기 조절*/
	border: 1px solid;
	width:310px;
	height:400px;
/* 	float:left;  왜있는지 모르는 코드 이상 없으면 지울꺼임 */ 
}


.overflow{ /* 데이터가 영역 밖으로 넘어가면 자동으로 스크롤 바 생성*/
	overflow: auto;
	display: inline-block;
}

.overflow b{ /* 제목에 대한 디자인 설정 (영화, 극장, 날짜, 시간)*/
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	color: #fff;
	font-size: 20px;
	
}


.movie input,.theater input{ /* 버튼을 영역에 대한 크기 설정(영화, 극장)*/
	width: 285px;
	height: 50px;
	border: none;
}

.date{ /* 날짜 버튼 영역크기 설정(일부러 조금 작게 함)*/
	width:160px !important;
}

.date input{
	width: 140px;
	height: 50px;
	border: none;
	
}

.time input{
	width: 60px;
	height: 20px;
	margin: 10px;
}

.selected {
	background-color: darkgray; /*클릭되면 빨간색으로 seat배경색 바뀜*/
}


