@charset "UTF-8";

button { /* 좌석예매 버튼 */
    padding: 5px 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 3px; /* 모서리 곡률 */
    cursor: pointer;
}

button:hover { /* 버튼 가까이 갔을때 어둡 */
    background-color: #c70711;
}


#reserve_parameter{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
}

#reserve_parameter>div{
	border: 1px solid;
	width:300px;
	height:300px;
	float:left;
}


.overflow{
	overflow: auto;
	display: inline-block;
}

.overflow b{
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	color: #fff;
	font-size: 20px;
	
}


.movie input,.theater input{
	width: 290px;
	height: 50px;
	border: none;
}

.date{
	width:150px !important;
}

.date input{
	width: 140px;
	height: 50px;
	border: none;
	
}

.time input{
	width: 60px;
	height: 20px;
	margin: 10px;
}

.right{
	display: flex;
    justify-content: flex-end;
}

