@charset "UTF-8";

/* ================= 지금부터 top/bottom영역에 적용되는 영역 ================== */

body {
	position: relative;	
}

#top_area {
	background-color: #ffffff;
	padding-top: 15px;
}

#member_area input[type="button"] { /* 로그인, 회원가입 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #e50914; /* 배경색 빨간색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
}

#member_area input[type="button"]:hover { /* 로그인, 회원가입 버튼에 마우스오버 시 */
	background-color: #ce0912;
}


/* 아이티윌홈으로 ---로그인 회원가입 정렬*/
#member_area{
	display: inline-block;
}

#logo {
	position: absolute;
	left: 5px; top: 5px;
}

#member {
	position: absolute;
	right: 5px; top: 5px;
}



/*메뉴영역<div id="menu_nav"> 배경색과 글자 정렬*/
#menu_nav {
	background-color: #e50914;
	text-align: center;
	margin-top: 50px;
}
/*메뉴<nav> 영역 안의 태그<a>에 대한 정렬 */
#menu_nav nav {
	margin-top: 10px;
	display: flex;
	justify-content: center; /* 양 끝을 기준으로 정렬 */
}
/*메뉴(nav)영역 안의 <a>태그 글자에 대한 색 설정 밑 글자 크기 설정*/
#menu_nav a {
	color: #fff;
	text-decoration: none; /* 밑줄 없애는 설정 */
	font-size: 17px;
	padding: 20px 60px;
}

#menu_nav a:hover {
	background-color: #ce0912;
}

#main_p {
	text-align: center;
}

#top_hr {
	border: 1px solid #e50914;
}

#toplink {
	text-decoration: none;
	border: 1px solid black;
	border-radius: 50%;
	padding: 5px 15px;
	position: fixed;
	right: 0; bottom: 10px;
	color: #fff;
	background-color: #e50914;
}

/* ================= 여기까지 top/bottom영역에 적용되는 영역 =================== */